.text1,
.counter1 {
    display:inline;
}

.text2,
.counter2 {
    display:block;
}

.valid {
    color: green;
}

.invalid {
    color: default;
}

.active {
    border-color: yellow;
}

.inactive {
    border-color: blue;
}

.error {
    border-color: red;
}

.complete {
    border-color: green;
}